* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(#12c2e9, tomato);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
  text-align: center;
}

.layar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 213px;
  height: 60px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background: rgba(255, 248, 220, 0.288);
  margin: 0 auto;
  font-size: 1.5rem;
}
.baris {
  display: flex;
}

.ac:hover,
.delete:hover,
.angka:hover,
.equal:hover,
.bracket:hover,
.operator:hover {
  background: rgba(255, 248, 220, 0.288);
  cursor: pointer;
  border-radius: 50%;
  padding: 25px;
  color: black  ;
}

.angka,
.operator,
.equal,
.bracket,
.ac,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  height: 30px;
  width: 30px;
  text-align: center;
  background: rgba(255, 248, 220, 0.288);
  border-radius: 3px;
  transition: all 0.2s ease;
  padding: 25px;
  color: #064f5f;
}
